# Ignore node_modules
node_modules/

# Ignore build directories
build/

# Ignore all .log files
*.log

#ignore .env file
.env

# Ignore frontend-specific files
frontend/.env
frontend/node_modules/
frontend/build/

# Ignore backend-specific files
Backend/.env
Backend/node_modules/
Backend/build/